<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title></title>
  <link rel="stylesheet" href="/public/admin/css/pintuer.css">
  <link rel="stylesheet" href="/public/admin/css/admin.css">
  <script src="/public/admin/js/jquery.js"></script>
  <script src="/public/admin/js/pintuer.js"></script>
</head>

<body>
  <div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 修改管理员</strong></div>
    <div class="body-content">

      <form method="post" class="form-x" action="">
        <div class="form-group">
          <div class="label">
            <label for="sitename">账户：</label>
          </div>
          <div class="field">
            <input type="text" class="input w50" id="mpass" name="username" size="50" placeholder="请输入管理员账户"
              value="<%=data.username%>" readonly
              data-validate="required:请输入管理员账户,length#>=6:账户名不能小于6位,length#<=12:账户名最多12位" />
          </div>
        </div>

        <div class="form-group">
          <div class="label">
            <label for="sitename">密码：</label>
          </div>
          <div class="field">
            <input type="password" class="input w50" name="password" size="50" placeholder="请输入密码"
              data-validate="length#>=8:密码不能小于8位" />
              <input type="hidden" name="id" value = "<%=data.id%>">
          </div>
        </div>

        <div class="form-group">
          <div class="label">
            <label for="sitename">确认密码：</label>
          </div>
          <div class="field">
            <input type="password" class="input w50" name="repassword" size="50" placeholder="请再次输入密码"
              data-validate="repeat#password:两次输入的密码不一致" />
          </div>
        </div>

        <div class="form-group">
          <div class="label">
            <label for="sitename">状态：</label>
          </div>
          <div class="field">
            <label for="" style="line-height: 32px;"><input <%=data.status == 0 ?"checked":'' %> type="radio" name="status"
                value="0">白名单</label>
            <label for="" style="line-height: 32px;"><input <%=data.status == 1 ?"checked":'' %> type="radio" name="status"
                value="1">黑名单</label>
          </div>
        </div>

        <div class="form-group">
          <div class="label">
            <label></label>
          </div>
          <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>